/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@-moz-document url-prefix("chrome://browser/content/preferences/preferences.xul") {
  #passwordsGroup {
    visibility: collapse !important;
    -moz-user-focus: ignore !important;
  }
}

@-moz-document url-prefix("chrome://messenger/content/preferences/preferences.xul") {
  tabbox#securityPrefs tab:nth-child(4),
  tabbox#securityPrefs tabpanel:nth-child(4) {
    visibility: collapse !important;
    -moz-user-focus: ignore !important;
  }
}
